%% -*- mode: erlang -*-

{clean_files, ["test/*.beam"]}.

{erl_opts, [debug_info, report_warnings, {warn_format, 1},
            warnings_as_errors, warn_export_vars, warn_missing_spec,
            warn_obsolete_guard, warn_unused_import]}.

{edoc_opts, [{doclet, edown_doclet},
             {file_suffix, ".markdown"},
             {image, ""},
             {stylesheet, ""}]}.

{deps, [{edown, ".*",
         {git, "git://github.com/esl/edown.git", "master"}}]}.
